body{
    border-color: rgb(0, 33, 61);
    margin: 100%;
    border-width: 3px;
    border-radius: 100%;
    background-color: black;
}

.circle1{
    border-color: rgb(0, 33, 61);
    margin: 100%;
    border-width: 3px;
    border-radius: 100%;
    background-image: url(/images/ceo.jpg);
    height: 400px;
    width: 400px;           
    }







